.menuBar {
  padding: 0;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
}
.logo {
  width: 150px;
  float: left;
}
.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  line-height: 47px;
  text-transform: capitalize;
}
.menuCon {
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item {
  padding: 0 10px;
}
.menuCon .ant-menu-submenu-title {
  padding: 5px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
  border-bottom: none;
}
.menuCon .leftMenu {
  float: left;
}
.menuCon .rightMenu {
  float: right;
}
.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after {
  top: auto;
  bottom: -6px;
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }
  .leftMenu,
  .rightMenu {
    display: none;
  }
  .logo a {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  }
}

ul.ant-menu.ant-menu-horizontal {
  line-height: 25px;
}

.logo1 {
  color: #1da57a;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  border: 1px solid green;
}

.blog-card {
  display: flex;
}

.ant-avatar.blog-card-avatar {
  flex: 1;
  height: 200px;
  width: 200px;
}

div.blog-card-content {
  flex: 4;
  padding-left: 20px;
}

.ant-btn.blog-card-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.ant-typography.blog-content-title {
  margin: 0;
}

.ant-avatar.blog-content-avatar {
  height: 275px;
  width: 100%;
}

h3.ant-typography.blog-content-title {
  margin: 0;
}

.ant-typography.blog-content-author {
  color: #1da57a;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  height: 200px;
  width: 100%;
  background-color: #1890ff;
}

img {
  height: 200px;
  width: 200px;
}

.image-carousel {
  height: 200px;
  display: block;
  /*background-color: #feeeee;*/
}

.right-arrow {
  position: absolute;
  padding: 10px;
  top: 100px;
  right: 35px;
  border: 1px solid #aaaaaa;
}

.left-arrow {
  position: absolute;
  top: 100px;
  left: 35px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
